USE [master]
GO
/****** Object:  Database [ChartVanket]    Script Date: 1/2/2017 12:42:28 AM ******/
CREATE DATABASE [ChartVanket]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ChartVanket', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\ChartVanket.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ChartVanket_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\ChartVanket_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ChartVanket].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ChartVanket]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 1/2/2017 12:42:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Students](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StudentName] [varchar](50) NULL,
	[TotalMarks] [float] NULL,
 CONSTRAINT [PK_Students] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Students] ON 

INSERT [dbo].[Students] ([Id], [StudentName], [TotalMarks]) VALUES (1, N'Mohon', 80)
INSERT [dbo].[Students] ([Id], [StudentName], [TotalMarks]) VALUES (2, N'Rana', 69)
INSERT [dbo].[Students] ([Id], [StudentName], [TotalMarks]) VALUES (3, N'Muzammel', 40)
SET IDENTITY_INSERT [dbo].[Students] OFF
USE [master]
GO
